

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: antiquewhite;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: rgb(7, 7, 7);
  color: antiquewhite;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid rgb(250, 250, 255);
  margin: .5em 0;
  border-radius: 40px;

}

.btn:hover {
  background: #eaeaea;
  color: rgb(88, 85, 85);
  border: 1px solid black;
}

#showcase {
  min-height: 450px;
  color: whitesmoke;
  text-align: center;
  background-color: #01011185;
}

#showcase .bg-image {
  position: fixed;
  background: rgb(253, 253, 253) url("../assets/images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 500px;
  z-index: -1;
  opacity: 0.4;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 1.5em;
}

#section-a {
  background: #f1f1f0b5;
  background-position: center;
  color: rgb(15, 1, 1);

}

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card {
  border: 1px solid black;
}

.card-content {
  padding: 1.5em;
  background-image: url("../assets/images/beanthru2.png");
  opacity: 0.4;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 6px ridge rgb(76, 78, 80);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#section-c {
  background: #fffffeb5;
  color: rgb(32, 2, 2);
  padding: 2em;
}


#section-d .box {
  padding: 2em;
  color: #fff;
  background-color: #000000b8;
}

#section-d .box:first-child {
  background: #000000b8;

}

#main-footer {
  padding: 2em;
  background: black;
  color: #fff;
  text-align: center;
}

.img-1,.img-2,.img-3 {
  height: 35px;
  width: 35px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.img-1 {
  margin-left: 45px;
  float: left;
}
.img-2 {
  float: left;
}
.img-3 {
  margin-right: 10px;
  float: left;
}



/*
.img-1,.img-2,.img-3 {
  display: flex;
  justify-content: space-around;
  height: 35px;
  width: 35px;
}

.img-1 {
  float: left;
  margin-left: 240px;
}

.img-2 {
  float: left;
  margin-left: 30px;
}

.img-3 {
  float: left;
  margin-left: 30px;
} */

#main-footer a {
  clear: both;
  color: rgb(115, 115, 253);
  text-decoration: none;
}

/*Media Queries*/

@media(min-width: 700px) {
  .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2,minmax(auto, 25em))
       1fr;
  }

  #showcase .bg-image {
    position: fixed;
    background: #333 url("../assets/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    z-index: -1;
    opacity: 0.4;
  }

  #section-a .content-text {
      column-gap: 2em;
  }

  #section-a .content-text p {
      padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
      grid-column: 2/4;
  }

  .box, #main-footer div {
      grid-column: span 2;
  }

  #section-b ul {
      display: flex;
      justify-content: space-around;
  }

  #section-b li {
      width: 31%;
  }

  .img-1,.img-2,.img-3 {
    display: flex;
    justify-content: space-around;
    height: 35px;
    width: 35px;
  }
  
  .img-1 {
    float: left;
    margin-left: 240px;
  }
  
  .img-2 {
    float: left;
    margin-left: 30px;
  }
  
  .img-3 {
    float: left;
    margin-left: 30px;
  } 

  @media(min-width: 1440px) {
  #showcase .bg-image {
    position: fixed;
    background: #333 url("../assets/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
    z-index: -1;
    opacity: 0.4;
  }
}

 /* @media(min-width: 640px) {
    .img-1,.img-2,.img-3 {
      height: 10px;
      width: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
  
    }
  
    .img-1 {
      margin-left: 45px;
    }
    .img-3 {
      margin-right: 10px;
    }

  } */
}

